
@{
  ViewBag.Title = "Products";
}

<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">@ViewBag.Title</h6>
    <a class="btn btn-primary" href="#">Add new Product</a>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="products" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Category</th>
            <th>Price</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Category</th>
            <th>Price</th>
          </tr>
        </tfoot>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>

@section scripts
{
  <script>
    $(document).ready(function () {
      const table = $("#products").DataTable({
        ajax: {
          url: "/api/products",
          dataSrc: ""
        },
        columns: [
          {
            data: "id"
          },
          {
            data: "name",
            render(data, type, product) {
              return `<a href="/products/details/${product.id}">${product.name}</a>`;
            }
          },
          {
            data: "category"
          },
          {
            data: "price"

          }
        ]
      });
    });
  </script>
}