@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
  <h1>Squeaker <sup>sounds</sup><i class="fab fa-cloudsmith nav-logo pl-2"></i></h1>
    <p class="lead">One stop shop for all Audiophiles</p>
   
</div>

