header {
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));


    & ul {
        list-style: none;
        margin: 0;
        padding: 0;
        font-size: 1.5rem;
        text-transform: uppercase;

        & li {
            padding-top: 1rem;
            padding-bottom: 1rem;
        }

        & a {
            color: $light;
            text-decoration: none;


            &:hover {
                color: darken($light, 20);
                text-decoration: none;
            }
        }
    }
}

.nav-logo, .nav-account {
    width: 30%;
}

.nav-links {
    width: 40%;
}

.nav-links li, .nav-account li {
    padding-right: 1rem;
    padding-left: 1rem;
    font-size: 1rem;
    display: flex;
    align-items:center;
    position: relative;

    & a {
        display: inline-block;
        vertical-align: middle;
    }
}

.nav-account-dropdown {
    z-index: 100;
    pointer-events: none;
    position: absolute;
    text-align: center;
    background: #ccc;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.2s ease;
}

.account-icon:hover .nav-account-dropdown, .nav-account-dropdown:hover {
    pointer-events: initial;
    opacity: 1;
    transform: translateY(66px);
    transition: all 0.2s ease;
    ;
}


.basket-quantity {
    position: absolute;
    top: 10px;
    left: 25px;
    font-weight: bold;
    border-radius: 50%;
    color: $dark;
}

header i {
    font-size: 2.2rem!important;
}