@model ApplicationCore.Domain.Product

  <div class="card mb-3">
    <h3 class="card-header text-center">@Model.Name</h3>
   
    <img style="height: 200px; width: 100%; display: block;" src="@Model.Image" alt="Card image">
    <div class="card-body">
      <p class="card-text">@Model.Price</p>
    </div>
   
  
  </div>
 