@model IEnumerable<ApplicationCore.Domain.Product>
@{
  ViewBag.Title = "Shop";
}

<h2>@ViewBag.Title</h2>
<div class="row justify-content-around">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#shop-all" role="button" aria-haspopup="true" aria-expanded="false">All</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#shop-speakers" role="button" aria-haspopup="true" aria-expanded="false">Speakers</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#shop-headphones" role="button" aria-haspopup="true" aria-expanded="false">Headphones</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#shop-accessories" role="button" aria-haspopup="true" aria-expanded="false">Accessories</a>
    </li>
  </ul>
</div>

<div id="myTabContent " class="tab-content">
  <div class="tab-pane fade show active container" id="shop-all">
    <div class="row pt-5">
    @foreach (var product in Model)
    {
      <div class="col-4">
        @Html.Partial("_ProductCard", product)
      </div>
    }
    </div>
  </div>
  <div class="tab-pane fade" id="shop-speakers">
    <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit.</p>
  </div>
  <div class="tab-pane fade" id="shop-headphones">
    <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork.</p>
  </div>
  <div class="tab-pane fade" id="shop-accessories">
    <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater.</p>
  </div>
</div>



