.product-tile {
    img {
        object-fit: cover;
        width: 100%;
        padding: 2rem;
    }

    text-align:center;

   
   color: $dark;

   &:hover {
       text-decoration: none;
       color: $dark;
   }
   
}
